<p id="notice"><%= notice %></p>


<h1><%= @products.first.category.name %> products category</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td>
            <%= product.user.first_name %>
            <%= link_to 'All products', user_products_path(product.user_id), class: "btn btn-primary btn-sm"%>
        </td>
        <td><%= link_to 'Product details', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
  </tbody>
</table>
</div>
