
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <%= image_tag "/assets/images/products/#{@product.id}/#{@product.image_filename}" if @product.image_filename? %>
                </div>

                <div class="star-rating" data-score= <%= @avg_review %> ></div>
                <em> <%= "#{@reviews.length} reviews" %> </em>
                <p><%= @avg_review %></p>
            </div>
            <div class="col-md-5 offset-md1">

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Title:</strong></td>
                                <td><%= @product.title %></td>
                            </tr>
                            <tr>
                                <td><strong>Description:</strong></td>
                                <td><%= @product.description %></td>
                            </tr>
                            <tr>
                                <td><strong>Price:</strong></td>
                                <td><%= @product.price %> €</td>
                            </tr>
                        </tbody>
                    </table>
                    <% if @bid.blank? %>
                    <h3> Enchère de départ : <%= @product.start_bid %>€
                        <%= link_to "Encherir", new_product_bid_path(@product), class: "btn btn-primary btn-sm" %>
                    </h3>
                    <% else %>
                    <h3> Enchère la plus haute : <%= @bid.bid %>€
                        <%= link_to "Encherir", edit_product_bid_path(@product, @bid), class: "btn btn-primary btn-sm" %>
                    </h3>
                    <% end %>
                </div>
                <% if @reviews.blank? %>
                <h3>Be the first to comment !
                </h3>
                <% else %>
                <br>
                <div class="rev">
                    <% @reviews.each do | r , i | %>
                    <div class="star-rating" data-score= <%= r.rating %> ></div>
                    <p><%= r.comment %></p>
                    <% end %>
                </div>
                <% end %>
                <%= link_to "Leave a comment", new_product_review_path(@product), class: "btn btn-primary btn-sm" %>
            </div>
        </div>
    </div>
</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<script>
$('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function(){
        return $(this).attr('data-score');
    }
});
</script>
